.lista-container{
    width: 100%;
}

.lista{
    width: 100%;
    justify-content: center;
}

.lista > label{
    font-weight: bolder;
}

.lista > select{
    width: 70%;
    height: 50px;

    font-size: 1.5em;
}

select option{
    color: black;
}

.placeholder-text{
    color: grey;
}

#container-resgate{
    width: 100%;
}