@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --cor-primaria: rgb(246, 246, 246);
    --cor-conteudo-pri: #d8d8d8;
    --cor-conteudo-sec: #2b335a;
    --cor-destaque: ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, header, nav, section, main, div, form, footer{
    display: flex;
}

body{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #27c6da, #5b6cc0);
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;

    flex-direction: column;
}

header{
    padding: 20px;
    background: linear-gradient(to bottom right, white, rgb(200, 200, 200));
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);

    justify-content: right;
    align-items: center;
}

.tela-inicial{
    margin-right: auto;
    text-decoration: none;
    color: #2b335a;
}

.tela-inicial:hover{
    text-decoration: none;
    color: #2b335a;
}

.titulo-header{
    font-weight: 700;
}

.botao {
    width: 120px;
    margin: 0px 5px;
    padding: 10px;
    color: #2b335a;
    border: 1px solid;
    border-radius: 8px;

    background: linear-gradient(to top, #f7f7f7 50%, #2b335a 50%);
    background-size: 100% 200%;
    background-position: 0 100%;
    transition: background-position 0.3s ease, color 0.3s ease;

    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.botao:hover {
    background-position: 0 0;
    color: #f7f7f7;
    cursor: pointer;
    border-color: black;
}

footer{
    padding: 10px;
    background-color: rgb(211, 211, 211);
    box-shadow: 0px -2px 2px 2px rgba(0, 0, 0, 0.25);
    margin-top: auto;
}


