main{
    display: flex;
    min-height: 800px;
    gap: 20px;

    flex-direction: row;
    flex-wrap: nowrap; /* quebrar automaticamente quando falta espaço */
    justify-content: center; /* alinhamento no eixo X */
    align-items: center; /* alinhamento no eixo Y de cada linha (exceto quando column, dai vira o unico alinhamento)*/
    align-content: ; /* alinhamento no eixo Y para a totalidade de conteúdos */

    border-style: solid;
    border-color: red;
    border-width: 8px;
}

.box{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: #0071FF;
    font-size: 20pt;

    flex-shrink: 1; /* achatar ou não o item (0 ou 1) - só tem aplicabilidade com nowrap no container */
    flex-grow: 0; /* esticar ou não o item (0 ou 1) */
    /* para ambos, podem ser aplicados a cada item individualmente (com id/class) */
    /* quando dois elementos diferentes "competem" por espaço, podem assumir valores diferentes para determinar */
    /* a taxa de crescimento/achatamente de cada um. */

    justify-content: center;
    align-items: center;
}

#box01{
    margin-right: auto; /* separar-se totalmente a esquerda */
    align-self: ; /* align-items mas individualmente */
    /* não consegue dar overwrite em um 'align-content' do container */
}

@media(max-width: 800px){
    main{
        flex-wrap: wrap;
    }
}