.lista-container{
    width: 100%;
}

.form-lista{
    width: 45%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-lista > label{
    font-weight: bolder;
    font-size: 1.8em;
    color: #2b335a;
}

.form-lista > select{
    width: 100%;
    height: 50px;

    font-size: 1.5em;
}

.lista{
    justify-content: center;
    width: 100%;
}

.lista > select{
    justify-content: center;
    padding: 0 15px;
    color: grey;
}

#container-data-resgate{
    flex-direction: column;
    width: 100%;
}

#resgate-texto{
    font-size: 1.8em;
    font-weight: bold;
    color: #2b335a;
}

#data-resgate{
    width: 70%;
}

#endereco-abrigo{
    font-size: 1.8em;
    font-weight: bold;
    color: #2b335a;
}

select:focus{
    color: black;
}

select.changed {
    color: black;
}

.container-imagem{
    flex-direction: column;
}

#texto-imagem{
    font-size: 1.2em;
    font-weight: bold;
    color: #2b335a;
}

#descricao-necessidade{
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
}

#descricao-necessidade label{
    font-size: 1.2em;
    font-weight: bold;
    color: #2b335a;
}

.texto-aside{
    font-style: italic;;
    font-size: .8em;
    font-weight: normal;
}

#descricao{
    margin-top: 8px;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    resize: none;
    height: 190px; /* Defina a altura do campo */
    padding-top: 5px; /* Alinha o texto ao topo */
    white-space: normal; /* Permite que o texto quebre a linha */
    word-wrap: break-word; /* Quebra a linha se for necessário */
}