.lista-container{
    width: 100%;
}

.form-lista{
    width: 45%;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-lista > label{
    font-weight: bolder;
    font-size: 1.8em;
    color: #2b335a;
}

.form-lista > select{
    width: 100%;
    height: 50px;

    font-size: 1.5em;
}

.lista{
    justify-content: center;
    width: 100%;
}

.lista > select{
    justify-content: center;
    padding: 0 15px;
    color: grey;
}

#container-data-resgate{
    flex-direction: column;
    width: 100%;
}

#resgate-texto{
    font-size: 1.8em;
    font-weight: bold;
    color: #2b335a;
}

#data-resgate{
    width: 70%;
}

#endereco-abrigo{
    font-size: 1.8em;
    font-weight: bold;
    color: #2b335a;
}

input:valid {
    color: black; /* Quando o campo estiver preenchido (válido), a cor será preta */
}

select:focus{
    color: black;
}

select.changed {
    color: black;
  }