main{
    width: 90%;
    max-width: 800px;
    margin: auto 30px;

    align-items: center;
    justify-content: center;
    align-self: center;
}

.wraps{
    flex-wrap: wrap;
}

.columns{
    flex-direction: column;
}

form{
    min-width: 300px;
    width: 100%;
    max-width: 90%;    
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    align-items: center;
}

.form-titulo{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #2b335a;
    font-size: 2.8em;
}

.form-inputs{
    align-items: center;
    gap: 8px;
}

.form-campos{
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input:valid, textarea:valid{
    color: black;
}

.campo{
    min-width: 170px;
    max-width: 45%;
    width: 100%;
    outline: none;
    border: 1px solid #ddd; 
    border-radius: 6px;
    padding: 15px;
    font-size: 1.4rem;
    color: #707070;
}

.maior{
    max-width: 92%;
}

.form-boxes{
    min-width: 200px;
    max-width: 90%;
    width: 100%;
    margin: 30px 0px;
}

.form-genero, .form-preferencias{
    min-width: 100px;
    width: 50%;
}

.genero-opcoes, .preferencias-opcoes{
    gap: 4px;
}

.form-boxes h2{
    color: #2b335a;
}

.opcao > input{
    margin-right: 4px;
}

.form-preferencias{
    text-align: center;
}

.form-endereco{
    justify-content: center;
    margin-top: 30px;
    gap: 8px;
}

.form-botoes{
    min-width: 180px;
    max-width: 92%;
    width: 100%;
    justify-content: center;
}

.botao{
    min-width: 120px;
    width: 40%;
    padding: 20px 10px;
    margin: 10px 10px;

    background-color: #f7f7f7;
    color: #2b335a;

    font-family: 'Quicksand';
    font-size: large;
    text-align: center;
    text-decoration: none;
}

a.link{
    text-decoration: none;
    color: #27c6da;
    font-weight: bold;
}

.link:hover{
    color: #2b335a;
}

form p{
    margin-top: 20px;
}